.appTitleBtn {
  height:100%
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .02em;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,.87) !important;
}

.appTitleBtn {
  padding-left: 0 !important;  
}

a.appTitleBtn.v-btn--active::before {
  background-color: transparent !important;
}

.appTitleBtn {
  padding-left: 0 !important;  
}
